p{
    font-size: 30px;
}

.container .row .col img{
    width: 150px;
    height: 150px;
}
#nombreProducto{
    font-size: 25px;
    padding-top: 10%;
}
#descripcionProducto{
    font-size: 25px;
    padding-top: 10%;
}
#cantidadProductos{
    font-size: 30px;
}

.row{
    border-bottom: solid black;
}

.btn{
    background-color: #c7a15f;
}
.btn:hover{
    background-color: #966e29;
}