

body{
    background-color: #5a5034;
}

.container .mostrarCarrito{
    background-color: #5f6f3a;
}

.container .mostrarCarrito img{
    height: 125px;
    width: 125px;
}

.container .mostrarCarrito .col{
    border: solid #5a5034;
}

.container .row .col p{
    font-size: 20px;
    color: #f5e1b9;
}

.container h1{
    color: #f5e1b9;
}

