.navbar-claro{
    background-color: #bebebe;
    border-color: solid black;

}

.navbar-claro .btn{
    color: #000000;
}

.navbar-claro .nav-item > a:hover{
    color: #000000;
}

.navbar-claro .d-flex button{
    color: #1d1b16;
    border-color: #000000;
}

.navbar-claro .container-fluid .collapse .formSearch .btnSearch:hover{
    background-color: #68fde9;
    color: #f5e1b9;
    border-color: #909f43;
}

.navbar-claro .d-flex{
    color: #000000;
}

.navbar-claro .d-flex button :active{
    color: #000000;
}

.navbar-claro .d-flex button :focus{
    color: #000000;
}

.container .d-flex {
    color: black;
}

.navbar-claro .container-fluid .btn a i{
    font-size: 30px;
    color: #000000;

}


#navbarSeccionHoraTemperatura{
    margin-left: 10%;
    width:30%;
}


#mensajeTemperatura{
    display: none;
    margin-top: 10px;
    border: inset #444343;
    background-color: #fdfdfd;
    height: 300px; 
    position: absolute; 
    width: 200px; 
    z-index: 100;
    text-align: center;
    padding-top: 25%;
    font-size: 20px;
}

.dropdown-content a{
    display: none;
}

.dropdown:hover #mensajeTemperatura{
    display: block;
}



#imagenPokemon{
    height: 150px;
    width: 150px;
}
.colTiempo{
    padding-top: 10px;
}


.navbar-oscuro{
    background-color: #000000;
    border-color: solid rgb(255, 255, 255);

}

.navbar-oscuro .btn{
    color: #fcfcfc;
}

.navbar-oscuro .nav-item > a:hover{
    color: #ffffff;
}

.navbar-oscuro .d-flex button{
    color: white;
    border-color: white;
}

.navbar-oscuro .container-fluid .collapse .formSearch .btnSearch:hover{
    background-color: #68fde9;
    color: #f5e1b9;
    border-color: #909f43;
}

.navbar-oscuro .d-flex{
    color: white;
}

.navbar-oscuro .d-flex button :active{
    color: white;
}

.navbar-oscuro .d-flex button :focus{
    color: white;
}

.navbar-oscuro .container .d-flex {
    color: white;
}

.navbar-oscuro .container-fluid .btn a i{
    font-size: 30px;
    color: white;

}
.navbar-oscuro navbar-brand{
    color: white;
}
.navbar-oscuro a{
    color: white;
}

.navbar-oscuro #navbarTemperatura{
    color: white;
}
.navbar-oscuro #navbarHora{
    color: white;
}

.navbar-oscuro .dropdown-item{
    color: black;
}