body{
    background-color: #8e7d69;
}

.card-img-top{
    width: 300px;
    height: 300px;
}

.containerFiltro{
    background-color: #f5e1b9;
}

.tituloInicio{
    color: #f5e1b9;
}
.btnPersonalizado{
    background-color: #909f43;
    color: #f5e1b9;
}
.btnPersonalizado:hover{
    background-color: #717c37;
    color: #f7f2ea;
}