.navbar-custom{
    background-color: #b69357;
}

.navbar-custom .navbar-brand{
    color: #f5e1b9;
}

.nav-link{
    color: #f5e1b9;
}

.nav-item > a:hover{
    color: #bcd155;
}

.d-flex button{
    color: #f5e1b9;
    border-color: #f5e1b9;
}

.navbar-custom .container-fluid .collapse .formSearch .btnSearch:hover{
    background-color: #cbe060;
    color: #f5e1b9;
    border-color: #909f43;
}

.d-flex{
    color: #f5e1b9;
}

.d-flex button :active{
    color: #f5e1b9;
}

.d-flex button :focus{
    color: #f5e1b9;
}

.container .d-flex {
    color: black;
}

.navbar-custom .container-fluid .btn a i{
    font-size: 30px;
    color: #f5e1b9;

}

.navbar-custom .container-fluid .btn :hover{
    color: #d8f064;
}