.carousel-item{
    height: 480px;
    background-color: rgb(61, 61, 61);
    color: #f6d573;
    position: relative;
}

.carousel-item .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.mensajeInicio {
    text-align: center;
    font-size: 50px;
    color: #f6d573;
    
}
body{
    background-color: #495635;
}

.card img{
    height: 300px;
    width: 275px;
}

.col a{
    text-decoration: none;
    color: #464232;
}
.col a :hover{
    color: #bb8a44;
}


